<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC view</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.js" integrity="sha512-jDUVpk2awjMnyrpY2xZguylQVRDeS9kRBImn0M3NJaZzowzUpKr6i62ynwPG0vNS1+NsTk4ji+iznbc5m0ZCKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <a href="/">Go back!</a>
    <h1>Pc View</h1>
    <button class="startQuizButton">Start quiz</button>
    <p class="quest">TEST TEST</p>
</body>
<style>
    .hiddenElement{
        display: none;
    }
</style>
<script>
    var socket = io.connect("http://" + document.domain + ":" + location.port);
    var questionButton = document.querySelector(".startQuizButton");

    questionButton.addEventListener('click', ()=>{
        console.log("Start Quiz!");
        socket.emit("startQuiz");

        questionButton.classList.add("hiddenElement");
    })

    socket.on('sendQuestions', function(data){
        var q = document.querySelector(".quest");
        var questionIndex = 0;

        if(q.classList.contains("hiddenElement")) {
            q.classList.remove("hiddenElement");
        }

        var questionInterval = setInterval(() => {
            if(questionIndex != data.length){
                q.innerText = data[questionIndex].question;
                socket.emit("nextQuestion", {"id": questionIndex});
                questionIndex++;
            }
            else{
                clearInterval(questionInterval);
                q.classList.add("hiddenElement");
                questionButton.classList.remove("hiddenElement");
            }
        }, 3000);

    });

</script>
</html>