<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC view</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.js"
        integrity="sha512-jDUVpk2awjMnyrpY2xZguylQVRDeS9kRBImn0M3NJaZzowzUpKr6i62ynwPG0vNS1+NsTk4ji+iznbc5m0ZCKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <a href="/">Go back!</a>
    <h1>Pc View</h1>
    <button class="nextQuestionButton hiddenElement">Next Question</button>
    <button class="startQuizButton">Start quiz</button>
    <p class="quest hiddenElement" style="font-size: xx-large;">LET'S GO</p>
</body>
<style>
    .hiddenElement {
        display: none;
    }
</style>
<script>
    let socket = io.connect("http://" + document.domain + ":" + location.port);
    let questionButton = document.querySelector(".startQuizButton");
    let nextQuestionButton = document.querySelector(".nextQuestionButton");
    let questionIndex = 0;
    let questionList = {};

    questionButton.addEventListener('click', () => {
        console.log("Start Quiz!");
        socket.emit("startQuiz"); // Po naciśnięciu guzika wysyłany jest do serwera "startQuiz", który wysyła do wszystkich jsona z pytaniami

        questionButton.classList.add("hiddenElement");
        nextQuestionButton.classList.remove("hiddenElement");
    })

    socket.on("sendQuestions", function (data){
        questionList = data;
    });

    nextQuestionButton.addEventListener("click", ()=>{
        if (questionIndex < questionList.length) {
            displayQuestion(questionList[questionIndex]["question"]);
            socket.emit("nextQuestion", {"id": questionIndex});
            questionIndex++;
        }else{
            displayQuestion("Koniec Quizu!");
        }
    });

    function displayQuestion(currentQuestion){
        let questionLabel = document.querySelector(".quest");

        questionLabel.classList.remove("hiddenElement");
        questionLabel.innerText = currentQuestion;

        // setTimeout(()=>{
        //     questionLabel.classList.add("hiddenElement");;
        // },5000);
    }

</script>

</html>