<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.js"
        integrity="sha512-jDUVpk2awjMnyrpY2xZguylQVRDeS9kRBImn0M3NJaZzowzUpKr6i62ynwPG0vNS1+NsTk4ji+iznbc5m0ZCKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <a href="/">Go back!</a>
    <div class="buttons">
        <button class="btn0">A</button>
        <button class="btn1">B</button>
        <button class="btn2">C</button>
        <button class="btn3">D</button>
    </div>
</body>
<style>
    :root {
        --button-size: 70px;
    }

    .correct {
        transition-delay: 0.7s;
        background-color: green;
        color: white;
    }

    .incorrect {
        background-color: red;
        color: white;
    }

    .buttons button {
        width: var(--button-size);
        height: var(--button-size);
    }
</style>
<script>
    var socket = io.connect("http://" + document.domain + ":" + location.port);

    var uid = "{{ id }}";
    localStorage.setItem('uid', uid); // każdy urzytkownik dostaje unikalne id generwane przez serwerb

    

    //Po otrzymaniu od widoku komputera nowego pytania wykonuje się ta funckaj
    socket.on('nextQuestion', function (data) {
        for (let i = 0; i < 4; i++) {
            var actualButton = document.querySelector(`.btn${i}`);
            actualButton.innerText = data["base"][data["questionId"]]["answers"][i] //Ta pętla przechodzi przez pytania które dostajemy z bazy
            actualButton.addEventListener('click', (e) => { // cd. i wpisuje je w tekst przycisków
                // tutaj będzie pokazywało się czy zaznaczyliśmy dobrą odpowiedź
                if (e.target.innerText == data["base"][data["questionId"]]["correct"]) {
                    actualButton.classList.add("correct");
                } else {
                    actualButton.classList.add("incorrect");
                }
                socket.emit('answer', { 'answer': e.target.innerText }); // wysyłanie wybranej odpowiedzi do serwera
            });

        }

        console.log(data["base"][data["questionId"]]);

    });


</script>

</html>