<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.js"
        integrity="sha512-jDUVpk2awjMnyrpY2xZguylQVRDeS9kRBImn0M3NJaZzowzUpKr6i62ynwPG0vNS1+NsTk4ji+iznbc5m0ZCKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phoneView.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globalNav.css') }}">
</head>
<body>
    <div class="nav">
        <a href="/">Go back!</a>
    </div>
    <div class="setUsername">
        <h3>Enter Nickname</h3>
        <input class="userName" type="text" maxlength="20">
        <button class="usernameSubmit">Submit</button>
    </div>
    <div class="buttons hiddenElements">
        <button class="btn0">A</button>
        <button class="btn1">B</button>
        <button class="btn2">C</button>
        <button class="btn3">D</button>
        <div class="checkAnswer">
            <p class="answerResultLabel"></p>
        </div>
    </div>
</body>
<script>
    var socket = io.connect("http://" + document.domain + ":" + location.port);
    let buttonsDiv = document.querySelector(".buttons");
    var myAnswer = false;
    var globalQuestionsData;
    var answered = false; // Dodaj zmienną do śledzenia, czy użytkownik już odpowiedział
    

    localStorage.setItem("id", "{{ id }}")

    document.querySelector(".usernameSubmit").addEventListener('click', ()=>{
        let myUsername = document.querySelector(".userName").value;
        buttonsDiv.classList.remove("hiddenElements");
        document.querySelector(".setUsername").classList.add("hiddenElements");
        socket.emit("setUsername", {"username": myUsername, "id": localStorage.getItem("id")});
        myUsername = "";
    });

    //Po otrzymaniu od widoku komputera nowego pytania wykonuje się ta funckaj
    socket.on('nextQuestion', function (data) {
        globalQuestionsData = data;
        answered = false; // Po otrzymaniu nowego pytania odblokuj możliwość klikania
        for (let i = 0; i < 4; i++) {
            let actualButton = document.querySelector(`.btn${i}`);
            actualButton.classList.remove(actualButton.classList.contains("correct") ? "correct" : "incorrect");

            actualButton.innerText = data["base"][data["questionId"]]["answers"][i];
        }
    });

    if (buttonsDiv) {
        var buttons = buttonsDiv.querySelectorAll("button");

        buttons.forEach(function(btn) {
            btn.addEventListener('click', (e) => {
                if (!answered) { // Sprawdź, czy użytkownik jeszcze nie odpowiedział
                    // tutaj będzie pokazywało się czy zaznaczyliśmy dobrą odpowiedź
                    if (e.target.innerText == globalQuestionsData["base"][globalQuestionsData["questionId"]]["correct"]) {
                        e.target.classList.add("correct");
                        myAnswer = true
                    } else {
                        e.target.classList.add("incorrect");
                        myAnswer = false
                    }
                    socket.emit('answer', { 'answer': myAnswer , 'userId': localStorage.getItem("id")});
                    answered = true; // Ustaw zmienną na true, aby zablokować możliwość klikania innych przycisków
                }
            });
        });
    }

</script>
</html>