<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.3/socket.io.js" integrity="sha512-jDUVpk2awjMnyrpY2xZguylQVRDeS9kRBImn0M3NJaZzowzUpKr6i62ynwPG0vNS1+NsTk4ji+iznbc5m0ZCKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <button class="btn">A</button>
    <button class="btn">B</button>
    <button class="btn">C</button>
    <button class="btn">D</button>
</body>
<script>
    var socket = io.connect("http://" + document.domain + ":" + location.port);

    var uid = "{{ id }}";
    localStorage.setItem('uid', uid);

    var buttons = document.querySelectorAll('.btn');

    buttons.forEach(function(button){
        button.addEventListener('click', (e)=>{
            socket.emit('answer', {'answer': e.target.innerText});
        });
    });

    socket.on("sendQuestions", function(data){
        data.forEach(e=>{
            console.log(data.answers);
        });
    })

</script>
</html>